/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

*/

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #31D2E8 !default;
$balanced:                        #33cd5f !default;
$energized:                       #FCB328 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
$deepDark:                        #222 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.pane, .view, .menu, .bar { background-color: transparent; }

body {
    font-family: 'Open Sans', sans-serif;
    background: url(../img/menu-bg.jpg) no-repeat;
}

@mixin condensed{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none;
    border-bottom: none;
    background-color: none;
    color: $light;
    .title { color: $light }
}

#sideMenuContent {
    .list {
        padding-left: 20px;
        padding-right: 20px;
    }
    .item {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        color: $light;
    }
}

ion-view {
    background: url(../img/wood-bg2.jpg) no-repeat;
}
    #categoryMain {
    .list {
        padding: 20px;
        .list-item {
            width: 47%;
            height: 200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            position: relative;
            float: left;
            margin-bottom: 30px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            box-shadow: 0 3px 10px 5px rgba(0,0,0,0.5);
            &:nth-child(2n+1) {
                margin-right: 5%;
            }
            .info {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 100%;
                height: 60px;
                background-color: $light;
                color: $light;
                .icon-box {
                    width: 40px;
                    height: 40px;
                    margin: 12px 0 12px 8px;
                    background-color: #FB4164;
                    border-radius: 10px;
                    float: left;
                }
                .like-box {
                    width: 50px;
                    height: 40px;
                    margin: 10px 0 12px 8px;
                    float: right;
                    text-align: center;
                    border-left: 1px solid $dark + 160;
                    .icon {
                        font-size: 24px;
                        color: #FB4164;
                    }
                    .count {
                        font-size: 14px;
                        color: $dark + 50;
                    }
                }
                .title {
                    @include condensed;
                    font-weight: 400;
                    font-size: 24px;
                    color: $dark;
                    float: left;
                    margin: 20px 0 0 10px;
                }
            }
        }
    }
}

#categoryDetail {
    background: url(../img/wood-bg2-blur.jpg) no-repeat;
    .jumbotron {
        text-align: center;
        .image {
            @media only (max-device-width: 480px) {
                width: 200px;
                height: 200px;
                border-radius: 200px;
            }
            width: 150px;
            height: 150px;
            margin: 60px auto 0 auto;
            border-radius: 300px;
            background-size: cover;
            overflow: hidden;
        }
        .title {
            font-size: 40px;
            margin: 30px 0 0 0;
            color: $light;
            font-weight: bold;
        }
    }
    .clear{clear: both}
    .products {
        margin: 40px 0 100px 0;
        .product {
            position: relative;
            width: 220px;
            height: 350px;
            float: left;
            background-size: cover;
            background-position: center center;
            border-radius: 10px;
            box-shadow: 0 3px 10px  rgba(0,0,0,0.5);
            margin-top: 10px;
            margin-bottom: 20px;
            overflow: hidden;
            &:nth-child(3n+1) {
                margin-left: 25px;
                margin-right: 0;
            }
            &:nth-child(3n+2) {
                margin-left: 30px;
                margin-right: 30px;
            }
            &:nth-child(3n+3) {
                margin-left: 0;
                margin-right: 20px;
            }
            .shadow{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 60%;
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,.7))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,.7) 100%); /* Chrome10+,Safari5.1+ */
                background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,.7) 100%); /* W3C */
            }
            .title {
                position: absolute;
                bottom: 50px;
                left: 10px;
                width: 90%;
                color: white;
                font-size: 25px;
                font-weight: bold;
                line-height: 25px;
                text-shadow: 0px 0px 4px rgba(0,0,0,1);
            }
            .price {
                position: absolute;
                bottom: 10px;
                left: 10px;
                padding: 5px 10px;
                font-size: 18px;
                font-weight: bold;
                border-radius: 8px;
                color: $light;
            }
            &.noImage {
                height: 135px;
                &:nth-child(7n+0) { background: $calm }
                &:nth-child(7n+1) { background: $positive }
                &:nth-child(7n+2) { background: $balanced }
                &:nth-child(7n+3) { background: $energized }
                &:nth-child(7n+4) { background: $assertive }
                &:nth-child(7n+5) { background: $royal }
                &:nth-child(7n+6) { background: $deepDark }
                .price { padding: 5px 0 }
                .title { text-shadow: none }
            }
            &:nth-child(7n+0) .price { background: $calm }
            &:nth-child(7n+1) .price { background: $positive }
            &:nth-child(7n+2) .price { background: $balanced }
            &:nth-child(7n+3) .price { background: $energized }
            &:nth-child(7n+4) .price { background: $assertive }
            &:nth-child(7n+5) .price { background: $royal }
            &:nth-child(7n+6) .price { background: $deepDark }
        }
    }
}

.item-detail-modal {
    overflow: hidden;
    .image {
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center center;
    }
    .images {
        width: 100%;
        height: 300px;
        background-color: $royal;
    }
    .roundbox {
        height: 400px;
        width: 200%;
        background: white;
        border-top-left-radius: 100% 800px;
        border-top-right-radius: 100% 800px;
        position: absolute;
        padding:50px 0 0 0;
        top: 240px;
        left: -50%;
        z-index: 90;
    }
    .closeButton {
        width: 60px;
        height: 60px;
        background: $balanced;
        position: absolute;
        top: -80px;
        left: 50%;
        margin: 0 0 0 -30px;
        z-index: 110;
        border-radius: 60px;
        i {
            font-size: 34px;
            margin: 13px 0 0 0;
            display: block;
            color: white;
        }
    }
    .page {
        text-align: center;
        position: relative;
        z-index: 100;
        padding: 0 50px;
        font-size: 18px;
        line-height: 25px;
        color: $dark;
        margin-top: -30px;
        h2 { color: $assertive; }
        &.noImage {
            margin-top: 0;
            padding: 50px 50px 0 50px;
            .closeButton {
                margin-top: 0;
                left: inherit;
                top: 10px;
                right: 10px;
            }
        }
    }
}

#settings-view {
    form {
        background: none;
        border: none
    }
    label {
        margin-bottom: 10px;
        background: white;
    }

}

.button-empty {
    border: none;
    background: rgba(0,0,0,0.5);
    color: white;
}