ion-view(view-title='{{ category.title }}', id="categoryDetail")
    ion-content(id="categoryDetail")
        .jumbotron
            .image(style="background-image: url({{ category.image }})")
            .title {{ category.title }}

        .products(ng-hide="category.isImageless")
            .product(
                ng-repeat="item in category.products"
                ng-click="openDetail(item.title)"
                style="background-image:url({{ item.image }})"
                ng-class="{noImage: !item.image}"
            )
                .shadow(ng-show="item.image")
                .title {{ item.title }}
                .price {{ item.price|number:2 }} TL
            .clear

        .products(ng-show="category.isImageless")
            .product(
                ng-repeat="item in category.products"
                ng-click="openDetail(item.title)"
                ng-class="{noImage: category.isImageless}"
            )
                .title {{ item.title }}
                .price {{ item.price|number:2 }} TL
            .clear