ion-view(view-title='{{ viewTitle }}', id="{{ viewId }}")
    ion-content
        .list
            .list-item(
                ng-repeat='item in categories'
                style="background-image: url({{ item.image }})"
                ng-click="goCategoryDetail(item.id)"
            )
                .info
                    .icon-box
                    .like-box
                        i.icon.ion-heart
                        .count {{ item.like }}

                    .title {{item.title}}
