doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
        title

        //- compiled css output
        link(href='css/ionic.app.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,200|Open+Sans:700,300,400&subset=latin,latin-ext' rel='stylesheet' type='text/css')
        //- ionic/angularjs js
        script(src="lib/ionic/js/ionic.bundle.js")
        script(src="lib/ionic-service-core/ionic-core.js")
        script(src="lib/ionic-service-deploy/ionic-deploy.js")

        //- cordova script (this will be a 404 during development)
        //- script(src='cordova.js')

        //- your app's js
        script(src='js/application.js')

    body(ng-app='app')
        ion-nav-view
