html
    body
        ion-side-menus(enable-menu-with-back-views='false')
            ion-side-menu-content
                ion-nav-bar.bar-header
                    ion-nav-back-button

                    ion-nav-buttons(side='left')
                        button.button.button-icon.button-clear.ion-navicon(menu-toggle='left')
                ion-nav-view(name='menuContent')

            ion-side-menu(side='left', id="sideMenuContent")
                ion-header-bar.bar-header
                    h1.title Menu
                ion-content
                    ion-list
                        ion-item(
                            nav-clear='',
                            menu-close='',
                            ng-click='item.action()'
                            ng-repeat="item in menuItems"
                        ) {{ item.text }}