ion-view(view-title='{{ viewTitle }}', id="{{ viewId }}")
    ion-content
        form(ng-submit='save()').list.list-inset
            .row
                .col.col-50.col-offset-25
                        label.item.item-input.item-stacked-label
                            span.input-label
                                | Username

                            input(
                                type='text'
                                ng-model='settings.username'
                                placeholder="Username"
                            )

                        .item.item-toggle
                            | Fiyatları Göster
                            label.toggle.toggle-balanced
                                input(type="checkbox", ng-model="settings.showPrices")
                                .track
                                    .handle

                        .item.item-toggle
                            | Kayan Resimler
                            label.toggle.toggle-balanced
                                input(type="checkbox", ng-model="settings.autoScrollImages")
                                .track
                                    .handle

                        .item.item-toggle
                            | Tam Sayfa Detay
                            label.toggle.toggle-balanced
                                input(type="checkbox", ng-model="settings.fullScreenProductDetail")
                                .track
                                    .handle
            .row
                .col.col-50.col-offset-25
                    button.button.button-full.button-empty(type="submit")
                        | Ayarları Kaydet