ion-modal-view
    ion-content.item-detail-modal
        .image(
            style="background-image: url({{ item.images[0] }})"
            ng-show="item.images.length == 1"
        )
        .images(ng-show="item.images.length > 1")
            ion-slide-box(
                does-continue="true"
                auto-play="true"
                slide-interval="3000"
                show-pager="false"
            )
                ion-slide(ng-repeat="img in item.images")
                    .image(style="background-image: url({{ img }})")

        .roundbox(ng-hide="item.images.length == 0")
        .page(ng-class="{noImage: item.images.length == 0}")
            .closeButton(ng-click="closeModal()")
                i.icon.ion-close-round
            h1 {{ item.title }}
            h2 {{ item.price|number:2 }} TL
            p {{ item.longDesc }}
